@font-face {
    font-family: 'chalkboardregular';
    src: url(chalkboard/chalkboard-webfont.eot);
    src: url(chalkboard/chalkboard-webfont.eot?#iefix) format('embedded-opentype'),
         url(chalkboard/chalkboard-webfont.woff) format('woff'),
         url(chalkboard/chalkboard-webfont.ttf) format('truetype'),
         url(chalkboard/chalkboard-webfont.svg#chalkboardregular) format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chalkboardbold';
    src: url(chalkboard/chalkboard-bold-webfont.eot);
    src: url(chalkboard/chalkboard-bold-webfont.eot?#iefix) format('embedded-opentype'),
         url(chalkboard/chalkboard-bold-webfont.woff) format('woff'),
         url(chalkboard/chalkboard-bold-webfont.ttf) format('truetype'),
         url(chalkboard/chalkboard-bold-webfont.svg#chalkboardbold) format('svg');
    font-weight: normal;
    font-style: normal;
}