@font-face {
  font-family: 'DINCond-Bold';
  src: url('fonts/DINCond-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/DINCond-Bold.woff') format('woff'), url('fonts/DINCond-Bold.ttf')  format('truetype'), url('fonts/DINCond-Bold.svg#DINCond-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINCond-Medium';
  src: url('fonts/DINCond-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/DINCond-Medium.woff') format('woff'), url('fonts/DINCond-Medium.ttf')  format('truetype'), url('fonts/DINCond-Medium.svg#DINCond-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINCond-Light';
  src: url('fonts/DINCond-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/DINCond-Light.woff') format('woff'), url('fonts/DINCond-Light.ttf')  format('truetype'), url('fonts/DINCond-Light.svg#DINCond-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

.OED {
	background-image: url(../img/bg-movimentos.jpg);
}

.nome {
	background-color: #81909f;
	width: 466px;
	/*height: 55px;*/
	margin: 180px auto 0;
	text-align: center;
	padding-top: 6px;
}

.nome span {
	color: #02203e;
	/* text-transform: uppercase; */
	font-weight: bold;
	font-size: 38px;
	font-family: 'DINCond-Bold';
}

.apresentacao {
	border: 5px solid #4e6072;
	text-align: center;
	width: 425px;
	margin: 160px auto 40px;
	padding: 7px 0;
}

.apresentacao span {
	color: #d0d2d6;
	/* text-transform: uppercase; */
	font-size: 27px;
	font-family: 'DINCond-Light';
}

.botoes {
	margin: 0 auto;
	width: 425px;
}

.botoes .btn {
	width: 200px;
	float: left;
	text-align: center;
}

.botoes .btn01 {
	background: url(../img/DTMC_601001_.png);
	width: 150px;
	height: 85px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform 0.25s;
	transition: transform 0.25s;

}

.botoes .btn01:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.botoes span {
	color: #d0d2d6;
	/* text-transform: uppercase; */
	font-size: 34px;
	font-family: 'DINCond-Light';
}

.botoes .btn02 {
	background: url(../img/DTMC_601002.png);
	width: 150px;
	height: 85px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform 0.25s;
	transition: transform 0.25s;
}

.botoes .btn02:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

button {
	border: none;
	outline: none;	
}

.intro, .rotacao, .translacao {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.nomeRotacao {
	background: #e6e6e6;
	border-radius: 10px;
	width: 220px;
	position: absolute;
	top: 30px;
	left: 40px;
	padding: 7px;
	color: #1f4a64;
	/* text-transform: uppercase; */
	font-weight: bold;
	font-size: 32px;
	font-family: 'DINCond-Bold';
	line-height: 28px;
}

.rotacao span, .translacao span {
	color: #d0d2d6;
	/* text-transform: uppercase; */
	font-size: 30px;
	font-family: 'DINCond-Medium';
	position: absolute;
	top: 33px;
	left: 40px;
}

.btnVoltar {
	background-image: url(../img/btnVoltar.png);
	background-color: transparent;
	background-repeat: no-repeat;
	width: 77px;
	text-align: right;
	position: absolute;
	top: 75px;
	left: 40px;
	color: #a7a9ae;
	/* text-transform: uppercase; */
	font-size: 24px;
	padding: 0;
	font-family: 'DINCond-Light';
	z-index: 99999999;
}

