html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
}

@font-face {
    font-family: 'latohairline';
    src: url('lato-hairline-webfont.eot');
    src: url('lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-hairline-webfont.woff2') format('woff2'),
         url('lato-hairline-webfont.woff') format('woff'),
         url('lato-hairline-webfont.ttf') format('truetype'),
         url('lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('lato-light-webfont.eot');
    src: url('lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-light-webfont.woff2') format('woff2'),
         url('lato-light-webfont.woff') format('woff'),
         url('lato-light-webfont.ttf') format('truetype'),
         url('lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.container {
    position: relative;
	width:1024px;
	height:660px; 
	overflow:hidden; 
	display:block; 
	padding:0; 
    background-color: white;
	cursor:default;
}
div.texto {
    position: absolute;
    right: 0;
    top: 0;
    width: 778px;
    height: 111px;
    padding: 10px 10px 10px 10px;
    background-color: lightgoldenrodyellow;
    border-left: 1px solid #6cd0fc;
    z-index: 300;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
}
div.texto.apresentacao {
    padding: 70px 10px 10px 10px;
}
div.texto p {
    display: none;
    margin: 0;
    padding: 0;
    font-family: 'latolight';
    color: black;
    font-size: 21px;
}
div.texto p.text-intro {
    display: block;
    font-size: 16px;
}
div.texto p.text-calor {
    padding-right: 40px;
}
div.texto p.text-queimadas {
    padding-right: 21px;
}
.block {
    display: none;
    top: 0;
    left: 0;
    width: 1024px;
    height: 660px;
    position: absolute;
    z-index: 999900;
}
.btnGaleria {
    display: none;
    background: url(../img/btnGaleria.png) no-repeat;
    width: 60px;
    height: 52px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 150;
    cursor: pointer;
}
#galeria {
    display: none;
    position: absolute;
    z-index: 200;
    top: 131px;
    left: 0;
    width: 1024px;
    height: 530px;
    background: rgba(32, 152, 179, 0.9);
}
#mapa {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 529px;
    background: #6cd0fc;
    background-size: cover;
    z-index: 0;
}
.mapa_desenho {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.graficos {
    z-index: 100;
    position: absolute;
    width: 800px;
    height: 530px;
}
.graficos span {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.info-queimadas span {
    position: absolute;
    background-color: rgba(255, 49, 0, 0.7);
    transform: scale(0);
}
.info-queimadas span:first-child {
    width: 120px;
    height: 120px;
    top: 230px;
    left: 100px;
}
.info-queimadas span:nth-child(2) {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0 !important;
    display: none !important;
}
.info-queimadas span:nth-child(3) {
    width: 120px;
    height: 150px;
    top: 330px;
    left: 200px;
    background: transparent !important;
    border-radius: 0px !important;
}
.info-queimadas span:nth-child(3) .st1 {
    fill:rgba(255, 49, 0, 0.7);
}
.info-queimadas span:nth-child(4) {
    width: 130px;
    height: 30px;
    top: 260px;
    left: 340px;
}
.info-queimadas span:nth-child(5) {
    width: 145px;
    height: 150px;
    top: 310px;
    left: 399px;
    background: transparent !important;
    border-radius: 0px !important;
}
.info-queimadas span:nth-child(5) .st0 {
    fill:rgba(255, 49, 0, 0.7);
}
.info-queimadas span:nth-child(6) {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0 !important;
    display: none !important;
}
.info-queimadas span:nth-child(7) {
    width: 60px;
    height: 60px;
    top: 400px;
    left: 648px;
}
.info-plantacoes span {
    position: absolute;
    background-color: rgba(29, 255, 0, 0.7);
    transform: scale(0);
}
.info-plantacoes span:first-child {
    width: 170px;
    height: 102px;
    top: 228px;
    left: 100px;
}

.info-plantacoes span:nth-child(2) {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0 !important;
    display: none !important;
}
.info-plantacoes span:nth-child(3) {
    width: 80px;
    height: 115px;
    top: 360px;
    left: 210px;
}
.info-plantacoes span:nth-child(4) {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0 !important;
    display: none !important;
}
.info-plantacoes span:nth-child(5) {
    width: 70px;
    height: 70px;
    top: 380px;
    left: 390px;
}
.info-plantacoes span:nth-child(6) {
    width: 60px;
    height: 60px;
    top: 300px;
    left: 515px;
}
.info-plantacoes span:nth-child(7) {
    width: 80px;
    height: 60px;
    top: 340px;
    left: 570px;
}
.info-plantacoes span:nth-child(8) {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0 !important;
    display: none !important;
}
.info-plantacoes span:nth-child(9) {
    width: 135px;
    height: 54px;
    top: 261px;
    left: 560px;
}
.info-hidrica span {
    position: absolute;
    background-color: rgba(141, 246, 255, 0.86);
    transform: scale(0);
}
.info-hidrica span:first-child {
    width: 90px;
    height: 90px;
    top: 343px;
    left: 207px;
}
.info-hidrica span:nth-child(2) {
    width: 90px;
    height: 30px;
    top: 260px;
    left: 360px;
}
.info-hidrica span:nth-child(3) {
    width: 45px;
    height: 60px;
    top: 380px;
    left: 408px;
}
.info-hidrica span:nth-child(4) {
    width: 110px;
    height: 90px;
    top: 240px;
    left: 505px;
}
.info-mar span {
    position: absolute;
    background-color: rgba(0, 128, 255, 0.64);
    transform: scale(0);
}
.info-mar span:first-child {
    width: 85px;
    height: 65px;
    top: 290px;
    left: 175px;
}
.info-mar span:nth-child(2) {
    width: 110px;
    height: 30px;
    top: 220px;
    left: 320px;
}
.info-mar span:nth-child(3) {
    width: 95px;
    height: 130px;
    top: 310px;
    left: 500px;
}
.info-mar span:nth-child(4) {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0 !important;
    display: none !important;
}
.info-mar span:nth-child(5) {
    width: 130px;
    height: 185px;
    top: 220px;
    left: 583px;
    background: transparent !important;
    border-radius: 0px !important;
}
.info-mar span:nth-child(5) .st9 {
    fill:rgba(0, 128, 255, 0.64);
}
.info-mar span:nth-child(6) {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0 !important;
    display: none !important;
}
.info-calor span {
    position: absolute;
    background-color: rgba(255, 216, 0, 0.73);
    transform: scale(0);
}
.info-calor span:first-child {
    width: 150px;
    height: 55px;
    top: 250px;
    left: 100px;
}
.info-calor span:nth-child(2) {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0 !important;
    display: none !important;
}
.info-calor span:nth-child(3) {
    width: 150px;
    height: 130px;
    top: 160px;
    left: 335px;
}
.info-calor span:nth-child(4) {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0 !important;
    display: none !important;
}
.info-calor span:nth-child(5) {
    width: 130px;
    height: 110px;
    top: 195px;
    left: 560px;
}

.graficos.entra span:nth-child(1)  {
    animation: entraElementos .5s ease both;
    animation-delay: .1s;
}
.graficos.entra span:nth-child(2)  {
    animation: entraElementos .5s ease both;
    animation-delay: .3s;
}
.graficos.entra span:nth-child(3)  {
    animation: entraElementos .5s ease both;
    animation-delay: .5s;
}
.graficos.entra span:nth-child(4)  {
    animation: entraElementos .5s ease both;
    animation-delay: .7s;
}
.graficos.entra span:nth-child(5)  {
    animation: entraElementos .5s ease both;
    animation-delay: .9s;
}
.graficos.entra span:nth-child(6)  {
    animation: entraElementos .5s ease both;
    animation-delay: 1.1s;
}
.graficos.entra span:nth-child(7)  {
    animation: entraElementos .5s ease both;
    animation-delay: 1.3s;
}
.graficos.entra span:nth-child(8)  {
    animation: entraElementos .5s ease both;
    animation-delay: 1.5s;
}
.graficos.entra span:nth-child(9)  {
    animation: entraElementos .5s ease both;
    animation-delay: 1.7s;
}
.graficos.sai span:first-child  {
    animation: saiElementos .25s ease both;
}
.graficos.sai span:nth-child(2)  {
    animation: saiElementos .25s ease both;
    animation-delay: .1s;
}
.graficos.sai span:nth-child(3)  {
    animation: saiElementos .25s ease both;
    animation-delay: .2s;
}
.graficos.sai span:nth-child(4)  {
    animation: saiElementos .25s ease both;
    animation-delay: .3s;
}
.graficos.sai span:nth-child(5)  {
    animation: saiElementos .25s ease both;
    animation-delay: .4s;
}
.graficos.sai span:nth-child(6)  {
    animation: saiElementos .25s ease both;
    animation-delay: .5s;
}
.graficos.sai span:nth-child(7)  {
    animation: saiElementos .25s ease both;
    animation-delay: .6s;
}
.graficos.sai span:nth-child(8)  {
    animation: saiElementos .25s ease both;
    animation-delay: .7s;
}
.graficos.sai span:nth-child(9)  {
    animation: saiElementos .25s ease both;
    animation-delay: .8s;
}

ul {
    position: absolute;
    width: 225px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #81d0f7;
    z-index: 1;
}
ul li {
    padding: 4px 3px;
    display: block;
    background: #f9fafa;
    margin-bottom: 1px;
    cursor: pointer;
    transition: all .5s ease;
}
ul li span {
    font-family: 'latolight';
    font-size: 1.06em;
    display: block;
    text-align: center;
    width: 100%;
    background-color: grey;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: all .2s ease;
}
ul li picture {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
    transition: all .5s ease;
}
ul li:first-child picture {
    display: block;
    width: 100px;
    height: 100px;
    background: url('../img/botoes.png') no-repeat 0 -101px;
    margin: 0 auto;
    padding: 0;
}
.no-touch ul li:first-child:hover span {
    background-color: orangered;
    color: yellow;
    transform: translate(3px, 0) scale(1.1);
}
.no-touch ul li:first-child:hover picture {
    background: url('../img/botoes.png') no-repeat 0 0;
}
ul li.ativo:first-child span {
    background-color: orangered;
    color: yellow;
    transform: translate(3px, 0) scale(1.1);
}
ul li.ativo:first-child picture {
    background: url('../img/botoes.png') no-repeat 0 0;
}
ul li:nth-child(2) picture {
    display: block;
    width: 100px;
    height: 100px;
    background: url('../img/botoes.png') no-repeat -101px -101px;
    margin: 0 auto;
    padding: 0;
}
.no-touch ul li:nth-child(2):hover span {
    background: green;
    transform: translate(3px, 0) scale(1.1);
}
.no-touch ul li:nth-child(2):hover picture {
    background: url('../img/botoes.png') no-repeat -101px 0;
}
ul li.ativo:nth-child(2) span {
    background: green;
    transform: translate(3px, 0) scale(1.1);
}
ul li.ativo:nth-child(2) picture {
    background: url('../img/botoes.png') no-repeat -101px 0;
}
ul li:nth-child(3) picture {
    display: block;
    width: 100px;
    height: 100px;
    background: url('../img/botoes.png') no-repeat -202px -101px;
    margin: 0 auto;
    padding: 0;
}
.no-touch ul li:nth-child(3):hover span {
    background-color: #84deff;
    color: black;
    transform: translate(3px, 0) scale(1.1);
}
.no-touch ul li:nth-child(3):hover picture {
    background: url('../img/botoes.png') no-repeat -202px 0;
}
ul li.ativo:nth-child(3) span {
    background-color: #84deff;
    color: black;
    transform: translate(3px, 0) scale(1.1);
}
ul li.ativo:nth-child(3) picture {
    background: url('../img/botoes.png') no-repeat -202px 0;
}
ul li:nth-child(4) picture {
    display: block;
    width: 100px;
    height: 100px;
    background: url('../img/botoes.png') no-repeat -302px -101px;
    margin: 0 auto;
    padding: 0;
}
.no-touch ul li:nth-child(4):hover span {
    background-color: #002b8b;
    color: #a3f4ff;
    transform: translate(3px, 0) scale(1.1);
}
.no-touch ul li:nth-child(4):hover picture {
    background: url('../img/botoes.png') no-repeat -302px 0;
}
ul li.ativo:nth-child(4) span {
    background-color: #002b8b;
    color: #a3f4ff;
    transform: translate(3px, 0) scale(1.1);
}
ul li.ativo:nth-child(4) picture {
    background: url('../img/botoes.png') no-repeat -302px 0;
}
ul li:nth-child(5) picture {
    display: block;
    width: 100px;
    height: 100px;
    background: url('../img/botoes.png') no-repeat -403px -101px;
    margin: 0 auto;
    padding: 0;
}
.no-touch ul li:nth-child(5):hover span {
    background-color: #ffbc52;
    color: #d10d0d;
    transform: translate(3px, 0) scale(1.1);
}
.no-touch ul li:nth-child(5):hover picture {
    background: url('../img/botoes.png') no-repeat -403px 0;
}
ul li.ativo:nth-child(5) span {
    background-color: #ffbc52;
    color: #d10d0d;
    transform: translate(3px, 0) scale(1.1);
}
ul li.ativo:nth-child(5) picture {
    background: url('../img/botoes.png') no-repeat -403px 0;
}

@keyframes entraElementos {
  0% {
      transform: translate(0, 0) scale(0);
      opacity: 1;
    }
  50% {
      transform: translate(0, -80px) scale(2.5);
      opacity: 1;
    }
  65% {
      transform: translate(0, 0) scale(1.5);
      opacity: 1;
    }
  70% {
      transform: translate(0, 0) scale(2);
      opacity: 1;
    }
  100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
}
@keyframes entraElementosG1 {
  0% {
      transform: translate(0, 0) scale(0);
      opacity: 1;
    }
  50% {
      transform: translate(0, -80px) scale(2.5);
      opacity: 1;
    }
  65% {
      transform: translate(0, 0) scale(1.5);
      opacity: 1;
    }
  70% {
      transform: translate(0, 0) scale(2) rotate(-10deg);
      opacity: 1;
    }
  100% {
      transform: translate(0, 0) scale(1) rotate(-20deg);
      opacity: 1;
    }
}
@keyframes saiElementos {
  0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
  25% {
      transform: translate(0, 0) scale(3);
      opacity: 1;
    }
  50% {
      transform: translate(0, 0) scale(0);
      opacity: 1;
    }
  75% {
      transform: translate(0, 0) scale(.4);
      opacity: 1;
    }
  100% {
      transform: translate(0, 0) scale(1);
      opacity: 0;
    }
}
@keyframes anPlay {
  0%, 100% {
      transform: transform: translate(-220px, 150px) scale(1);
    }
  50% {
      transform: translate(-215px, 145px) scale(.95) rotate(-5deg);
      opacity: .7;
    }
}

@keyframes anSapo {
    0% {
        transform: translate(-250px, 50px) scale(1);
        animation-timing-function: ease-in;
    }
    1% {
        transform: translate(-260px, -50px) scale(1) rotate(45deg);
    }
    2% {
        transform: translate(-270px, -50px) scale(1);
    }
    3% {
        transform: translate(-250px, 50px) scale(1) rotate(-15deg);
        animation-timing-function: ease-in-out;
    }
    4% {
        transform: translate(-250px, 50px) scale(1);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translate(-250px, 50px) scale(1);
        animation-timing-function: ease-in;
    }
}
@keyframes anSol {
    0% {
        transform: translate(750px, 0px) scale(.8) rotate(0deg);
    }
    50% {
        transform: translate(750px, 0px) scale(.9) rotate(180deg);
    }
    100% {
        transform: translate(750px, 0px) scale(.8) rotate(360deg);
    }
}
@keyframes anRio {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(-10px, 10px); opacity: .9;
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes anPlaca {
    0% {
        transform: translate(-450px, 60px) scale(1);
    }
    30% {
        transform: translate(-450px, 60px) scale(1.2);
    }
    100% {
        transform: translate(-450px, 580px) scale(1);
    }
}
@keyframes anPlacaR {
    0% {
        transform: translate(-450px, 580px) scale(1);
    }
    30% {
        transform: translate(-450px, -30px) scale(1.2);
    }
    100% {
        transform: translate(-450px, 60px) scale(1);
    }
}
@keyframes anArvores {
    0% {
        transform: skewX(0deg);
    }
    25% {
        transform: skewX(-1deg);
    }
    50% {
        transform: skewX(1deg);
    }
    75% {
        transform: skewX(-1deg);
    }
    100% {
        transform: skewX(0deg);
    }
}
@keyframes anNuvem {
    0% {
        transform: translate(-620px, -140px) scale(.45);
    }
    100% {
        transform: translate(1020px, -190px) scale(.65);
    }
}


@keyframes anIntroRio {
    0% {
        bottom: -220px;
    }
    100% {
        bottom: -80px;
    }
}
@keyframes anIntroMorro1 {
    0% {
        bottom: -700px;
    }
    100% {
        bottom: -80px;
    }
}
@keyframes anIntroMorro2 {
    0% {
        bottom: -480px;
    }
    100% {
        bottom: 30px;
    }
}
@keyframes anIntroMorro3 {
    0% {
        bottom: -480px;
    }
    100% {
        bottom: 35px;
    }
}
@keyframes anIntroArvores {
    0% {
        transform: scale(1,0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes anIntroSol {
    0% {
        transform: translate(750px, 350px) scale(1) rotate(0deg);
    }
    100% {
        transform: translate(750px, 0px) scale(.8) rotate(360deg);
    }
}
@keyframes anIntroPlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes anIntroSapo {
    0% {
        transform: translate(110px, 50px) scale(1) rotate(45deg);
    }
    50% {
        transform: translate(-80px, -50px) scale(1) rotate(-25deg);
    }
    100% {
        transform: translate(-250px, 50px) scale(1);
    }
}

#cenario.intro .rio {
    animation: anIntroRio .5s ease both;
    -webkit-animation: anIntroRio .5s ease both;
    -moz-animation: anIntroRio .5s ease both;
}
#cenario.intro .morro1 {
    animation: anIntroMorro1 .5s ease both;
    animation-delay: .2s;
    -webkit-animation: anIntroMorro1 .5s ease both;
    -moz-animation: anIntroMorro1 .5s ease both;
    animation-delay: .2s;
}
#cenario.intro .morro2 {
    animation: anIntroMorro2 .5s ease both;
    animation-delay: .4s;
    -webkit-animation: anIntroMorro2 .5s ease both;
    -moz-animation: anIntroMorro2 .5s ease both;
    animation-delay: .4s;
}
#cenario.intro .morro3 {
    animation: anIntroMorro3 .5s ease both;
    animation-delay: .6s;
    -webkit-animation: anIntroMorro3 .5s ease both;
    -moz-animation: anIntroMorro3 .5s ease both;
    animation-delay: .6s;
}
#cenario.intro .arvores {
    animation: anIntroArvores .5s ease both;
    animation-delay: 1.1s;
    -webkit-animation: anIntroArvores .5s ease both;
    -moz-animation: anIntroArvores .5s ease both;
    animation-delay: 1.1s;
}
#cenario.intro .sol {
    animation: anIntroSol 3.5s ease both;
    -webkit-animation: anIntroSol 3.5s ease both;
    -moz-animation: anIntroSol 3.5s ease both;
}
#cenario.intro .sapo {
    animation: anIntroSapo .5s linear both;
    animation-delay: .5s;
    -webkit-animation: anIntroSapo .5s linear both;
    -moz-animation: anIntroSapo .5s linear both;
    animation-delay: .5s;
}
#cenario.intro .btnPlay {
    animation: anIntroPlay 1s ease both;
    animation-delay: 2.5s;
    -webkit-animation: anIntroPlay 1s ease both;
    -moz-animation: anIntroPlay 1s ease both;
    animation-delay: 2.5s;
}
#cenario.intro .sombras {
    transform: translate(-180px, -180px) scale(.78, .5);
    -webkit-transform: translate(-180px, -180px) scale(.78, .5);
    -moz-transform: translate(-180px, -180px) scale(.78, .5);
    opacity: .2;
}
#cenario.intro .nuvens {
    transform: translate(-620px, -140px) scale(.45);
    -webkit-transform: translate(-620px, -140px) scale(.45);
    -moz-transform: translate(-620px, -140px) scale(.45);
}
#cenario.intro .placa {
    display: none;
}





#cenario.play .btnPlay {
    animation: anPlay 2s ease infinite;
    -webkit-animation: anPlay 2s ease infinite;
    -moz-animation: anPlay 2s ease infinite;
}
#cenario.play .sombras {
    animation: anSombras 12s linear infinite;
    -webkit-animation: anSombras 12s linear infinite;
    -moz-animation: anSombras 12s linear infinite;
}
#cenario.play .sol {
    animation: anSol 12s linear infinite;
    -webkit-animation: anSol 12s linear infinite;
    -moz-animation: anSol 12s linear infinite;
}
#cenario.play .nuvens {
    animation: anNuvem 50s linear infinite;
    -webkit-animation: anNuvem 50s linear infinite;
    -moz-animation: anNuvem 50s linear infinite;
}
#cenario.play .arvores {
    animation: anArvores 5s linear infinite;
    -webkit-animation: anArvores 5s linear infinite;
    -moz-animation: anArvores 5s linear infinite;
}
#cenario.play .rio {
    animation: anRio 15s ease infinite;
    -webkit-animation: anRio 15s ease infinite;
    -moz-animation: anRio 15s ease infinite;
}
#cenario .placa.ocultar {
    animation: anPlaca .5s ease both;
    -webkit-animation: anPlaca .5s ease both;
    -moz-animation: anPlaca .5s ease both;
}
#cenario .placa.mostrar {
    animation: anPlacaR .5s ease both ;
    -webkit-animation: anPlacaR .5s ease both ;
    -moz-animation: anPlacaR .5s ease both ;
}
#cenario.play .sapo {
    animation-name: anSapo;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    -webkit-animation-name: anSapo;
    -moz-animation-name: anSapo;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.actor__content {
  flex-grow: 1;
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.actor__content--typing::after {
  content: '|';
  animation: blink 500ms infinite;
  an-webkit-imation: blink 500ms infinite;
  an-moz-imation: blink 500ms infinite;
}
video {
    width:800px;
    height:530px;
    background-color: #43DAFF;
}


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
    margin:0;
  width: 1024px;
    height: 530px;
  border: 0;
  }
.rslides div p {
    position: absolute;
    bottom: 5px;
    left: 5px;
    margin: 0;
    padding: 10px;
    font-family: 'latolight';
    color: black;
    background-color: rgba(255,255,255,.9);
    font-size: 15px;
}
.rslides_nav.next {
    position: absolute;
    top: 215px;
    right: 17px;
    width: 64px;
    height: 64px;
    background: rgba(0,0,0,.2) url(../img/btnNext.png) no-repeat center center;
    text-indent: 120px;
    z-index: 300;
    border-radius: 100%;
    transform: scale(.7);
}
.rslides_nav.next:hover {
    opacity: .8;
    background: rgba(0,0,0,.8) url(../img/btnNext.png) no-repeat center center;
}
.btnFechar {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 64px;
    height: 64px;
    background: rgba(0,0,0,.2) url(../img/btnFechar.png) no-repeat center center;
    text-indent: 120px;
    z-index: 300;
    border-radius: 100%;
    cursor: pointer;
    transform: scale(.7);
}
.btnFechar:hover {
    opacity: .8;
    background: rgba(0,0,0,.8) url(../img/btnFechar.png) no-repeat center center;
}